:root {
  --font-geist-mono: "Geist Mono", monospace;
  --bg-black: #000000;
  --white: #ffffff;
}

body {
  font-family: var(--font-geist-mono);
  background-color: var(--bg-black);
  color: var(--white);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.gallery-img:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--white);
  padding: 1rem;
  border-radius: 12px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  position: relative;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);

  .close,
  .download,
  .open-tab,
  .prev,
  .next {
    position: absolute;
  }

  .close,
  .download,
  .open-tab,
  .prev,
  .next {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .open-tab {
    right: 10%;
    top: 0;
  }

  .download {
    right: 0;
    top: 0;
    background-image: url("/icons/ico_download.svg");
  }

  .close {
    left: 0;
    top: 0;
  }

  .prev,
  .next {
    top: 50%;
  }

  .prev {
    right: 0;
  }
}

.modal-image {
  max-width: 100%;
  height: auto;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.modal-buttons button,
.modal-buttons a {
  padding: 0.5rem 1rem;
  background-color: #111111;
  color: var(--white);
  border: none;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-buttons button:hover,
.modal-buttons a:hover {
  background-color: #444444;
}

.modal-thumbnails {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  filter: brightness(0.5) contrast(1.25);
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  transition: border 0.2s ease;
}
